{erl_first_files, ["src/gen_nb_server.erl", "src/riak_core_gen_server.erl"]}.
{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{edoc_opts, [{preprocess, true}]}.
{eunit_opts, [verbose]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(cluster_info|dtrace)\" : Mod)", []}]}.

{deps, [
  {lager, "2.0.3", {git, "git://github.com/riak-synrc/lager.git", {tag, "master"}}},
  {poolboy, ".*", {git, "git://github.com/riak-synrc/poolboy.git", {tag, "master"}}},
  {basho_stats, ".*", {git, "git://github.com/basho/basho_stats.git", {tag, "1.0.3"}}},
  {riak_sysmon, ".*", {git, "git://github.com/riak-synrc/riak_sysmon.git", {tag, "master"}}},
  {folsom, ".*", {git, "git://github.com/riak-synrc/folsom.git", {tag, "master"}}},
  {riak_ensemble, ".*", {git, "git://github.com/riak-synrc/riak_ensemble", {tag, "master"}}},
  {pbkdf2, ".*", {git, "git://github.com/riak-synrc/erlang-pbkdf2.git", {tag, "master"}}},
  {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", {tag, "master"}}}
]}.
